<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="http://resource.vpgcdn.com/project/das/static/common/images/favicon.ico" type="http://resource.vpgcdn.com/project/das/static/common/images/favicon.ico" />
  <title> 管理系统 </title>

  <style>
    .ant-dropdown {
      z-index: 99999998 !important;
    }

    /* .ant-layout-content>div {
      min-height: 800px !important;
    } */

    .ant-layout-content>div>.ant-tabs {
      min-height: 800px !important;
    }

    .ant-tabs-top {
      min-height: 800px !important;
    }
  </style>
</head>

<body>

  <div id="root"></div>

</body>

</html>
